marquee{
  background-color: powderblue;}
.leftimg {
    float:left;
    margin: 7px 7px 7px 0; 
   }
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px; 
    }
nav li {
  margin-right: 20px;
}
.block{
    display: block;
    text-decoration: none;
}
