marquee{
  background-color: powderblue;}
.leftimg {
    float:left;
    margin: 7px 7px 7px 0; 
   }
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px; 
    }
.block {
    display: block;
    text-decoration: none;
}
